body {
  text-align: center;
  font-family: monospace;
}

textarea.seqInput {
  width: 512px;
  height: 16px;
  border: 1px solid #bbbbbb;
}

textarea.areaInput {
  width: 96px;
  height: 16px;
  display: inline-block;
}

textarea.zoomSeq {
  position: fixed;
  width: 1028px;
  margin-left: -512px;
  height: 64px;
  font-size: 48px;
  opacity: 0.5;
}

textarea#area1 {
  border: 1px solid #0000ff;
}
textarea#area2 {
  border: 1px solid #00a000;
}
textarea#area3 {
  border: 1px solid #ff4500;
}
textarea#area4 {
  border: 1px solid #ff1493;
}
textarea#area5 {
  border: 1px solid #ff1493;
}

span.midiNote {
  margin: 2px;
}

