body {
  text-align: center;
  font-family: monospace;
}

textarea.seqInput {
  width: 512px;
  height: 16px;
}

textarea.zoomSeq {
  position: fixed;
  width: 1028px;
  margin-left: -512px;
  height: 64px;
  font-size: 48px;
  opacity: 0.5;
}

textarea#seq1 {
  border: 1px solid #bbbbbb;
}

textarea#seq2 {
  border: 1px solid #bbbbbb;
}

textarea#seq3 {
  border: 1px solid #bbbbbb;
}

textarea#seq4 {
  border: 1px solid #bbbbbb;
}

textarea#seq5 {
  border: 1px solid #bbbbbb;
}

span.midiNote {
  margin: 2px;
}

